<script src="/assets/facebox.js"></script>
<link href="/assets/facebox.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        loadingImage : '/assets/loading.gif',
        closeImage   : '/assets/closelabel.png'
      })
    })
  </script>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="bilgi" >
  <thead>
      <tr>
        <th>Şatış Noktası</th>
        <th>Müşteri</th>
        <th>Satılan Ürün</th>
        <th>Birim Fiyatı</th>
        <th>Adet</th>
        <th>Saat</th>
        <th>Tarih</th>
        <th>Satış Tutarı</th>
      </tr>
  </thead>

  <tbody>
    <% @sirket_harcama.each do |u| %>
			<% @toplam += u.tutar.round(1)*u.adet %>
      <tr>
        <td><%= Sube.find(u.sube_id).isim %></td>
        <td><%= User.find(Card.find(u.card_id).user_id).unvan%></td>
        <td><%= Urun.find(u.urun_id).isim %></td>
        <td><%= u.tutar.round(1) %></td>
        <td><%= u.adet %></td>
        <td><%= u.zaman.strftime("%I:%M %p") %></td>
        <td><%= u.zaman.strftime("%Y-%m-%d") %></td>
        <td><%= u.adet*u.tutar.round(1) %></td>
			</tr>
		<% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Toplam:</strong></td>
        <td><%= @toplam %></td>
      </tr>
  </tbody>
</table>

