<%= javascript_include_tag 'jquery-1.7.1.min.js' %>
<%= javascript_include_tag 'jquery.hashchange.min.js' %>
<%= javascript_include_tag 'jquery.easytabs.min.js' %>

  <script type="text/javascript">
    $(document).ready( function() {
      $('#tab-container').easytabs();
    });
  </script>
<div id="tab-container" class='tab-container'>
  <ul class="nav nav-tabs" id="myTab">
   <li><a href="/sirkets/anasayfa#tab1">Şubeler</a></li>
   <li><a href="/sirkets/anasayfa#tab2">Ürünler</a></li>
   <li><a href="/sirkets/anasayfa#tab5">Tüm Şatışlar</a></li>
   <li class="active"><a><%= @urun.isim %> bilgileri</a></li>
 </ul>
  <div class='panel-container'>
  <form action="/sirkets/update_urun" method="post" class="form-horizontal" >
 	 <table class="login" >
    <tr>
     <td><input type="hidden" class="input-xlarge" id="input04" name="id" value="<%=@urun.id%>"></td>
		</tr>
    <tr>
      <td > Ürün İsmi : </td>
			<td><input type="text" class="input-xlarge" id="input01" name="isim" value="<%=@urun.isim%>"></td>
    </tr>
    <tr>
      <td > Ürün Fiyatı : </td>
      <td><input type="text" class="input-xlarge" id="input02" name="fiyat" value="0"></td>
    </tr>
    <tr>
      <td > Ürün Adedi : </td>
      <td><input type="text" class="input-xlarge" id="input03" name="adet" value="<%=@urun.adet%>"></td>
    </tr>
    <tr>
		<td></td>
     <td>
        <button type="submit" class="btn">Değiştir</button>
     </td>
    </tr>
  </table>
 </form>
  </div>
</div>

